In [57]:
import pandas as pd
import numpy as np
from bokeh
d = pd.read_csv('data.csv')
d['Value'] = d['Value'].str.replace('€', '')
for i, value in d['Value'].items():
    if '.'in value:
        value = value.replace('M', '00000')
        value = value.replace('.','')
    else:
        value = value.replace('M', '000000')
    value = value.replace('K', '000')
    d.loc[i, 'Value'] = int(value)


d['Wage'] = d['Wage'].str.replace('€', '')
d['Wage'] = d['Wage'].str.replace('K', '000')
for i, value in d['Wage'].items():
    d.loc[i, 'Wage'] = int(value)
    
d[['Wage', 'Value']].head()

     Wage      Value
0  565000  110500000
1  405000   77000000
2  290000  118500000
3  260000   72000000
4  355000  102000000

In [132]:
new_set = d[['Age', 'Name', 'Value', 'Wage']]
new_set = new_set[new_set.Value != 0]
new_set['relative_wage'] = new_set['Wage']/new_set['Value']
new_set = new_set[new_set.Wage > 1000]
sorted_value_set = new_set.sort_values(by='relative_wage', ascending = True)
sorted_value_set.head()
new_set.columns = new_set.columns.str.replace(' ','')
print(new_set.columns)

Index(['Age', 'Name', 'Value', 'Wage', 'relative_wage'], dtype='object')

In [139]:
from bokeh.plotting import figure, show, output_file, ColumnDataSource
from bokeh.models import HoverTool

source_cds = ColumnDataSource(new_set)
source_cds.data.keys()
p = figure(tools='box_zoom, pan, reset',
           width=700, height=700,
           title='FIFA Player Economics',
           y_axis_label='Value', x_axis_label='Wage')

p.circle('Wage','Value',size=10, source=source_cds, name='Name')
p.add_tools(HoverTool(tooltips=[('Name','@Name'),
                                ('(Wage, Value)','(@Wage,@Value)'),
                                ('Age','@Age')
                                ]))

show(p)